##### Q1

What will the output be of ((500//7) % 5) ** 3?

In [2]:
((500//7)%5)**3

1

##### Q2

How will you extract ‘love’ from the string S = “I love Python”? (More than one option may be correct.).

In [14]:
S = "I love Python"
print(S[2:7])
print(S[-11:-7])

love
love

##### Q3

What will the output of 3 * 3 ** 3 be?

In [15]:
3*3**3

81

##### Q4

If you have a tuple T = (3, 5, 7, 11), what will the output of T.append(9) be?

In [16]:
T = (3, 5, 7, 11)
 T.append(9)

IndentationError: unexpected indent (Temp/ipykernel_3452/342374497.py, line 2)

##### Q5

What will the output of the following program be?

L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']

print(L1[1][-1])

In [17]:
L1 = ['Vikas', 'Akshay', 'Sanskar', 'Mahima']

print(L1[1][-1])

y

##### Q6

What will be the output ?

l = [32, 34, 12, 27, 33]

l.append([14, 19])

print(len(l))

In [18]:
l = [32, 34, 12, 27, 33]

l.append([14, 19])

print(len(l))

6